<div id="board">
  <% @data.each_with_index do |row_value, index1| %>
    <div class = "row">
	  <% row_value.each_with_index do |cell_value, index2| %>
	    <div class = "cell <%= cell_value %>" onClick = "touch(<%= index1 %>, <%= index2 %>, '<%= cell_value %>');" ></div>
	  <% end %>
	</div>
	<div class="clear" />
  <% end %>
</div>
<div>
  <div>
    <button type="button" onClick="reset()">Reset</button>
  </div>
  <div>
    <button type="button" onClick="help()">Help</button>
  </div>
</div>